/* Global */

body {
    font-size: 1.5em;
    font-family: 'Courgette', cursive;
    min-width: 320px;
}

/* Cabecera */

header {
    background: url(../img/escuela/escuela-01.jpg);
}

header #titulo {
    overflow: hidden;
    padding: 0px 0;
}

header h1 {
    text-align: center;
    color: #ffffff;
}

/* Seccion Alumnos */

.contenido {
    margin: auto;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.marco {
    flex-basis: 30%;
}

.alumno-info {
    text-align: center;
    flex-basis: 70%;
}

.alumnos {
    width: 90%;
    margin: 2% auto;
    padding: 3%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.alumnos img {
    width: 100%;
}

/* Pie de Pagina */

footer {
    background: url(../img/escuela/escuela-01.jpg);
    color: #ffffff;
}

footer a {
    color: inherit;
}

footer>div {
    width: 90%;
}

#info-sitio div {
    padding: 0 2%;
}

#redes-sociales li {
    list-style: none;
}

#redes-sociales ul {
    text-align-last: center;
    padding: 0;
    margin-bottom: 0%;
}

footer #info-sitio {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

/* Botones */

#botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    display: flex;
    justify-content: left;
    background: transparent;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 25%;
    font-size: 2vw;
    color: #fff;
    background: #444;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.fas {
    padding-right: 10%;
}

button:hover{
    background-color: #303030;
}

/* Media Queries */

@media (min-width:900px) {
    /* Seccion Alumnos */
    section {
        display: flex;
        flex-direction: row;
        background: url(../img/escuela/escuela-02.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    aside {
        margin: 2% 0;
        width: 15%;
        position: sticky;
        top: 10px;
        display: flex;
        flex-direction: column;
        height: 0%;
    }
    .contenido {
        width: 65%;
        margin: 2%;
        padding: 1%;
        background-color: #444444;
        display: flex;
        flex-direction: column;
    }
    /* Pie de Pagina */
    footer #info-sitio {
        display: flex;
        flex-direction: row;
        margin: auto;
        text-align: center;
    }
    #redes-sociales ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Botones */
    #botones {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 100%;
        font-size: 1.4vw;
    }
}